USE [master]
GO

CREATE DATABASE [BVSV]
GO

USE [BVSV]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnularPunto](
	[anularPuntoId] [int] IDENTITY(1,1) NOT NULL,
	[tareaId] [int] NULL,
	[observacion] [nvarchar](500) NOT NULL,
	[codigoBomberoId] [int] NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[anularPuntoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[areaId] [int] IDENTITY(1,1) NOT NULL,
	[area] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[areaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bomberos]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bomberos](
	[codigoBombero] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[dni] [varchar](9) NULL,
	[contrasena] [varchar](25) NULL,
	[permisos] [bit] NULL,
	[activo] [bit] NULL,
	[areaId] [int] NULL,
	[categoriaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigoBombero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BomberosEmergencias]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BomberosEmergencias](
	[bomberosEmergenciaId] [int] IDENTITY(1,1) NOT NULL,
	[codigoBombero] [int] NULL,
	[emergenciaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bomberosEmergenciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BomberosReuniones]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BomberosReuniones](
	[bomberosReunionId] [int] IDENTITY(1,1) NOT NULL,
	[codigoBombero] [int] NULL,
	[reunionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bomberosReunionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[categoriaId] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emergencias]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emergencias](
	[emergenciaId] [int] IDENTITY(1,1) NOT NULL,
	[fechaEntrada] [datetime] NULL,
	[observacion] [varchar](100) NULL,
	[fechaSalida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[emergenciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroHoras]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroHoras](
	[registroId] [int] IDENTITY(1,1) NOT NULL,
	[codigoBombero] [int] NULL,
	[fechaEntrada] [datetime] NOT NULL,
	[fechaSalida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[registroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReunionesArea]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReunionesArea](
	[reunionId] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[temaReunion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[reunionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[tareaId] [int] IDENTITY(1,1) NOT NULL,
	[tareasPredeterminadaId] [int] NULL,
	[codigoBombero] [int] NULL,
	[observaciones] [varchar](100) NULL,
	[sumaPunto] [int] NULL,
	[fecha] [date] NULL,
	[punto] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tareaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TareasPredeterminadas]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TareasPredeterminadas](
	[tareasPredeterminadaId] [int] IDENTITY(1,1) NOT NULL,
	[tareaPredeterminada] [varchar](150) NULL,
	[areaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tareasPredeterminadaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([areaId], [area]) VALUES (1, N'EDIFICIO')
INSERT [dbo].[Areas] ([areaId], [area]) VALUES (2, N'TALLER')
INSERT [dbo].[Areas] ([areaId], [area]) VALUES (3, N'CAPACITACION')
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO

SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([categoriaId], [categoria]) VALUES (1, N'Cadete')
INSERT [dbo].[Categorias] ([categoriaId], [categoria]) VALUES (2, N'Bombero')
INSERT [dbo].[Categorias] ([categoriaId], [categoria]) VALUES (3, N'Suboficial')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO

GO
ALTER TABLE [dbo].[AnularPunto] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[RegistroHoras] ADD  DEFAULT (getdate()) FOR [fechaEntrada]
GO
ALTER TABLE [dbo].[Tareas] ADD  DEFAULT ((1)) FOR [punto]
GO
ALTER TABLE [dbo].[AnularPunto]  WITH CHECK ADD FOREIGN KEY([codigoBomberoId])
REFERENCES [dbo].[Bomberos] ([codigoBombero])
GO
ALTER TABLE [dbo].[AnularPunto]  WITH CHECK ADD FOREIGN KEY([tareaId])
REFERENCES [dbo].[Tareas] ([tareaId])
GO

ALTER TABLE [dbo].[Bomberos]  WITH CHECK ADD FOREIGN KEY([areaId])
REFERENCES [dbo].[Areas] ([areaId])
GO
ALTER TABLE [dbo].[Bomberos]  WITH CHECK ADD FOREIGN KEY([categoriaId])
REFERENCES [dbo].[Categorias] ([categoriaId])
GO
ALTER TABLE [dbo].[BomberosEmergencias]  WITH CHECK ADD FOREIGN KEY([codigoBombero])
REFERENCES [dbo].[Bomberos] ([codigoBombero])
GO
ALTER TABLE [dbo].[BomberosEmergencias]  WITH CHECK ADD FOREIGN KEY([emergenciaId])
REFERENCES [dbo].[Emergencias] ([emergenciaId])
GO
ALTER TABLE [dbo].[BomberosReuniones]  WITH CHECK ADD FOREIGN KEY([codigoBombero])
REFERENCES [dbo].[Bomberos] ([codigoBombero])
GO
ALTER TABLE [dbo].[BomberosReuniones]  WITH CHECK ADD FOREIGN KEY([reunionId])
REFERENCES [dbo].[ReunionesArea] ([reunionId])
GO
ALTER TABLE [dbo].[RegistroHoras]  WITH CHECK ADD FOREIGN KEY([codigoBombero])
REFERENCES [dbo].[Bomberos] ([codigoBombero])
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD FOREIGN KEY([codigoBombero])
REFERENCES [dbo].[Bomberos] ([codigoBombero])
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD FOREIGN KEY([tareasPredeterminadaId])
REFERENCES [dbo].[TareasPredeterminadas] ([tareasPredeterminadaId])
GO
ALTER TABLE [dbo].[TareasPredeterminadas]  WITH CHECK ADD  CONSTRAINT [FK_TareasPredeterminadas_Areas] FOREIGN KEY([areaId])
REFERENCES [dbo].[Areas] ([areaId])
GO
ALTER TABLE [dbo].[TareasPredeterminadas] CHECK CONSTRAINT [FK_TareasPredeterminadas_Areas]
GO
/****** Object:  StoredProcedure [dbo].[sp_AnularPunto]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[sp_AnularPunto](
    @tareaId INT,
    @observacion NVARCHAR(500),
    @codigoBomberoId INT
    )
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        INSERT INTO AnularPunto (tareaId, observacion, codigoBomberoId, fecha)
        VALUES (@tareaId, @observacion, @codigoBomberoId, GETDATE())

        UPDATE Tareas SET punto = 0 WHERE tareaId = @tareaId

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarReunion]    Script Date: 29/4/2026 20:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_EliminarReunion]
    @reunionId INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        DELETE FROM BomberosReuniones WHERE reunionId = @reunionId
        DELETE FROM ReunionesArea WHERE reunionId = @reunionId
        
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
    END CATCH
END
GO
USE [master]
GO
